<script>
function AddItUp() {
  var sum = 2+2;
  document.getElementById('math_question').innerHTML = sum;
}
</script>

<p id="math_question">What is 2 + 2?</p>
<button onclick="AddItUp();">Answer</button>

<br><br>
<script>
function showAnswer1() {
  document.getElementById('html_question').innerHTML = "Hypertext Markup Language";
}
</script>

<p id="html_question">What does HTML stand for?</p>
<button onclick="showAnswer1();">Answer</button>

<br><br>
<script>
function wrestle1() {
  document.getElementById('WWE').innerHTML = "Nah";
}
</script>

<p id="WWE">Do you smell what The Rock is cooking?</p>
<button onclick="wrestle1();">Answer</button>

<br><br>
<script>
function showcss1() {
  document.getElementById('css_question').innerHTML = "Cascading Style Sheet";
}
</script>

<p id="css_question">What does CSS stand for?</p>
<button onclick="showcss1();">Answer</button>


<br><br><br>
<script>
$(document).ready(function(){

    $("#peek").click(function(){
        $(this).html("Here I am!");
    });

});
</script>

<u><p id="peek">Where is that guy?</p></u>


<br><br>
<script>
$(document).ready(function(){
    $("#celebrate").click(function(){
        $(".hiphip").html("HOORAY!");
    });
});
</script>

<p class="hiphip">Yay?</p>
<p class="hiphip">Super-duper?</p>
<button id="celebrate">Get excited!</button>

<br><br><br>
<script>
$(document).ready(function(){
    $("#changestyles").click(function(){
        $("#nowred").css({"color":"red"});
        $("#nowblue").addClass("blue");
        $("#wasgray").removeClass("gray");
    });
});
</script>

<p id="nowred">This text will be red.</p>
<p id="nowblue">This text will be blue.</p>
<p id="wasgray" class="gray">This text was gray.</p>

<button id="changestyles">Change the Styles</button>